.tool-tips {
    display: inline-block;
    position: relative;
    font-size: 12px;
    .content {
      position: absolute;
      text-align: center;
      padding: 4px 8px;
      background: rgba(0,0,0,0.68);
      box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.14);
      border-radius: 2px;
      color: #fff;
      margin: auto;
      word-break: keep-all;
      z-index: 4;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        margin: auto;
      }
      &.top {
        top: calc(-50% - 5px);
        left: 50%;
        transform: translate(-50%, 0);
        &:before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid rgba(0, 0, 0, 0.68);
          top: 100%;
          left: 0;
          right: 0;
        }
      }
      &.left {
        left: calc(-50% - 5px);
        top: 50%;
        transform: translate(0, -50%);
        &:before {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid rgba(0, 0, 0, 0.68);
          top: 0;
          bottom: 0;
          left: 100%;
        }
      }
      &.right {
        right: calc(-50% - 5px);
        top: 50%;
        transform: translate(0, -50%);
        &:before {
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid rgba(0, 0, 0, 0.68);
          top: 0;
          bottom: 0;
          right: 100%;
        }
      }
      &.bottom {
        bottom: calc(-50% - 5px);
        left: 50%;
        transform: translate(-50%, 0);
        &:before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid rgba(0, 0, 0, 0.68);
          bottom: 100%;
          left: 0;
          right: 0;
        }
      }
    }
    .content.white {
      background: #fff;
      box-shadow: 1px 1px 3px 0 rgba(255,255,255,0.14);
      color: #000;
      border: 1px solid #000;
      padding: 3px 8px;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        margin: auto;
      }
      &.top {
        &:before {
          border-top: 5px solid rgb(0, 0, 0);
        }
        &:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid rgb(255, 255, 255);
          top: 100%;
          left: 0;
          right: 0;
        }
      }
      &.left {
        &:before {
          border-left: 5px solid rgb(0, 0, 0);
        }
        &:after {
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid rgb(255, 255, 255);
          top: 0;
          bottom: 0;
          left: 100%;
        }
      }
      &.right {
        left: calc(100% + 5px);
        top: 50%;
        transform: translate(0, -50%);
        &:before {
          border-right: 5px solid rgb(0, 0, 0);
        }
        &:after {
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right: 4px solid rgb(255, 255, 255);
          top: 0;
          bottom: 0;
          right: 100%;
        }
      }
      &.bottom {
        &:before {
          border-bottom: 5px solid rgb(0, 0, 0);
        }
        &:after {
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-bottom: 4px solid rgb(255, 255, 255);
          bottom: 100%;
          left: 0;
          right: 0;
        }
      }
    }
  }
  